<form #f="ngForm" (ngSubmit)="onSubmit()">
  
  <div class="form-group body">
      <div class="ui-g">
        <div class="ui-g-2">
          <label for="cmbTipoDespesa"><b>Tipo de Despesa:</b></label>
        </div>
        <div class="ui-g-10">
          <p-dropdown 
            [options]="tipoDespesa" 
            [(ngModel)]="tipoDespesaSelecionada"
            optionLabel="descricao"
            placeholder="Selecione um tipo..."
            name="descricao"
            [showClear]="true"
            id="cmbTipoDespesa"
            required
            ></p-dropdown>
        </div>
      </div>

      <div class="ui-g">
          <div class="ui-g-2">
            <label for="cmbAnoMes"><b>Ano/Mês:</b></label>
          </div>
          <div class="ui-g-10">
            <p-dropdown 
              [options]="anoMes" 
              [(ngModel)]="anoMesSelecionado"
              placeholder="Selecione um ano/mês..."
              name="anoMes"
              [showClear]="true"
              id="cmbAnoMes"
              required
              ></p-dropdown>
              <p>Selected Car: {{anoMesSelecionado || 'none'}}</p>
          </div>
        </div>

      

      <div class="ui-g">
        <div class="ui-g-2">
          <label for="txtDescricao"><b>Descrição:</b> </label>
        </div>
        <div class="ui-g-10">
          <input
            #txtDescricao="ngModel" 
            type="text" 
            pInputText
            id="txtDescricao"
            size="40"
            name="txtDescricao"
            [(ngModel)]="despesa.descricao"
            required
            >
        </div>
      </div>

       <div class="ui-g">
        <div class="ui-g-2">
          <label for="txtValor"><b>Valor:</b> </label>
        </div>
        <div class="ui-g-10">
          <input
            #txtValor 
            type="number" 
            pInputText
            id="txtValor"
            name="txtValor"
            size="40"
            [(ngModel)]="despesa.valor"
            required
            >
        </div>
      </div>

      <div class="ui-g">
          <div class="ui-g-2">
            <label for="txtUsuario"><b>Usuario:</b> </label>
          </div>
          <div class="ui-g-10">
            <input 
              type="number"
              #txtUsuario
              name="txtUsuario" 
              pInputText
              id="txtUsuario"
              size="40"
              [(ngModel)]="despesa.fkUsuario"
              required
              >
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Salvar</button>
  </div>
</form>