<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="ui-g">
    <div class="ui-g-8 text-left" style="margin-top: 35px;">
        <h3 *ngIf="despesa.id == null"><img src="../../../assets/img/saindo-carteira.png">Cadastro de Despesa</h3>
        <h3 *ngIf="despesa.id != null"><img src="../../../assets/img/saindo-carteira.png">Edição de Despesa</h3>
    </div>
  </div>
  <div class="form-group body">
      <p-card styleClass="ui-card-shadow">
      <div class="ui-g">
        <div class="ui-g-2">
          <label for="cmbTipoDespesa"><b>Tipo de Despesa:</b></label>
        </div>
        <div class="ui-g-10">
          <p-dropdown 
            [options]="tipoDespesa" 
            [(ngModel)]="tipoDespesaSelecionada"
            optionLabel="descricao"
            placeholder="Selecione um tipo..."
            name="descricao"
            [showClear]="true"
            id="cmbTipoDespesa"
            required
            ></p-dropdown>
        </div>
      </div>

      <div class="ui-g">
          <div class="ui-g-2">
            <label for="cmbAnoMes"><b>Ano/Mês:</b></label>
          </div>
          <div class="ui-g-10">
            <p-dropdown
              [options]="anoMes" 
              [(ngModel)]="anoMesSelecionado"
              placeholder="Selecione um ano/mês..."
              name="anoMes"
              [showClear]="true"
              id="anoMes"
              required
              ></p-dropdown>
          </div>
        </div>

      

      <div class="ui-g">
        <div class="ui-g-2">
          <label for="txtDescricao"><b>Descrição:</b> </label>
        </div>
        <div class="ui-g-10">
          <input
            #txtDescricao="ngModel" 
            type="text" 
            pInputText
            id="txtDescricao"
            size="40"
            name="txtDescricao"
            [(ngModel)]="despesa.descricao"
            required
            >
        </div>
      </div>

       <div class="ui-g">
        <div class="ui-g-2">
          <label for="txtValor"><b>Valor:</b> </label>
        </div>
        <div class="ui-g-10">
          <input
            #txtValor 
            type="number" 
            pInputText
            id="txtValor"
            name="txtValor"
            size="40"
            [(ngModel)]="despesa.valor"
            required
            >
        </div>
      </div>
      <div class="text-right">
          <button class="btn btn-danger" routerLink="/listar-despesas" style="margin-right: 10px;">Cancelar</button>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Salvar</button>
      </div>
    </p-card>
  </div>

</form>