

<p-card class="card">
    <p-toast></p-toast> 
  <div class="ui-g botao-cadastrar">
    <div class="ui-g-8 text-left">
        <h3><i class="pi pi-list" style="color: red;"></i>Lista de Despesas</h3>
    </div>
    <div class="ui-g-4 text-right">
        <button type="button" class="btn btn-success" routerLink="/listar-despesas/cadastro">Cadastrar despesa</button>
    </div>    
  </div>
  <div class="corpo">
     
    <p-table [value]="despesas" paginator="true" rows="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Descrição</th>
          <th>Ano/Mês referencia</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-despesas>
        <tr>
          <td>{{despesas.descricao}}</td>
          <td>{{despesas.anoMes}}</td>
          <td>{{despesas.valor | currency:'BRL'}}</td>
          <td><button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletaDespesa(despesas.id)">Excluir</button>
              <button type="button" class="btn btn-primary btn-sm ml-1" [routerLink]="['/listar-despesas/editar']" [queryParams]="{id: despesas.id, idTipoDespesa: despesas.fkTipoDespesa}" >Editar</button></td>
        </tr>
    </ng-template>
    </p-table>
  </div>
</p-card>
